@page "/"
@using DM2BD.RacingGraph
@using Models

<h1>Hello, world!</h1>

Welcome to your new app.

<RacingGraph Dates="new List<DateTime> { DateTime.Today, DateTime.Today, DateTime.Today, DateTime.Today }" NameSelector="x => x.Name" ImageURLSelector="x => x.ImageURL" ScoreListSelector="x => x.StockValue" Height="340px" ItemType="Number" Items="Numbers"/>

