@typeparam ItemType

    <div style="position: relative; height: @(Height);" class="dm2bdRacingGraph">
        @foreach(var racingGraphObject in RacingGraphObjects)
        {
            <RacingGraphBar ItemType="ItemType" RacingGraphObject="racingGraphObject"/>
        }
    </div>